.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 20px 40px;
  background-color: #737b80;
  width: 100vw;

  .link {
    color: white;

    &:hover {
      color: #333333;
    }
  }
}
