.change-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 0;
}

@media screen and (max-width: 480px) {
  .change-page-container {
    padding: 10vh 0;
  }
}